html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    width: 1020px;
    margin: 0 auto;
    height: 1100px;
    padding: 0;
}


/* ################################### quote ######################################### */

.quote {
    height: 654px;
    position: relative;
    background-color: #f06c64;
    padding: 0;
    margin: 0;
    color: #f0d8d9;
}

.quote .container {
    padding: 59px 39px 30px 40px;
    font-family: 'Lato';
}

.quote h2 {
    font-size: 30px;
    margin: 0;
    font-weight: 800;
}

.quote p {
    margin-top: 18px;
    text-align: justify;
    font-size: 18px;
    letter-spacing: -0.22px;
    line-height: 30px;
    font-weight: 400;
}

.contact_information form {
    width: 620px;
    padding: 0;
    float: left;
}

.contact_information .quote_info {
    width: 300px;
    float: right;
    text-align: left;
}

.quote_info h3 {
    margin: 24px 0 0 0;
    letter-spacing: -0.3px;
}

.quote_info p {
    margin-top: 8px;
    letter-spacing: -0.03px;
    font-size: 12px;
    line-height: 22px;
}


/* #################################### footer ########################################## */

footer {
    height: 76.10px;
    position: relative;
    background-color: #2d303a;
    padding: 0;
    margin: 0;
}

footer .container {
    margin: 0;
    padding: 0;
}

#copyright {
    margin-left: 42px;
    margin-top: 28px;
    width: 200px;
    float: left;
}

.social_media {
    margin-right: 34px;
    margin-top: 22px;
    float: right;
}

.social_icons {
    /* margin-top: 24px; */
    padding-left: 1px;
}

.icon {
    display: inline-block;
    height: 32px;
}

.icon img:hover {
    background-color: burlywood;
    border-radius: 20px;
}

.icon img {
    margin-right: 5px;
}