html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    width: 1020px;
    margin: 0 auto;
    height: 1100px;
    padding: 0;
}


/* ################################### quote ######################################### */

.quote {
    height: 654px;
    position: relative;
    background-color: #f06c64;
    padding: 0;
    margin: 0;
    color: #f0d8d9;
}

.quote .container {
    padding: 59px 39px 30px 40px;
    font-family: 'Lato';
}

.quote h2 {
    font-size: 30px;
    margin: 0;
    font-weight: 800;
}

.quote p {
    margin-top: 18px;
    text-align: justify;
    font-size: 18px;
    letter-spacing: -0.22px;
    line-height: 30px;
    font-weight: 400;
}

.contact_information form {
    width: 620px;
    padding: 0;
    float: left;
}

.contact_information .quote_info {
    width: 300px;
    float: right;
    text-align: left;
}

.quote_info h3 {
    margin: 24px 0 0 0;
    letter-spacing: -0.3px;
}

.quote_info p {
    margin-top: 8px;
    letter-spacing: -0.03px;
    font-size: 12px;
    line-height: 22px;
}


/* ################################################# form ################################################### */

::placeholder {
    color: #f48c8f;
    margin-left: 16px;
}

.contact_information form {
    width: 619px;
    height: 379px;
    margin-top: 26px;
}

.contact_information form input {
    width: 619px;
    margin-bottom: 16px;
    border: none;
    border-radius: 5px;
    background-color: #d6564f;
    color: #f0d8d9;
    font-size: 11px;
    text-indent: 16px;
    font-weight: 600;
    letter-spacing: -0.1px;
}

.contact_information form input:focus::-webkit-input-placeholder {
    text-indent: 400px;
    transition: text-indent 0.3s ease;
    vertical-align: top;
}

.contact_information form input:nth-child(-n+3) {
    height: 36px;
}

.contact_information form textarea {
    width: 619px;
    padding: 7px 0 0 0;
    margin-bottom: 16px;
    border: none;
    border-radius: 5px;
    background-color: #d6564f;
    text-indent: 16px;
    height: 194px;
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
}

#contact__send_form {
    height: 36px;
    background-color: #f0d8d9;
    color: #d6564f;
    font-size: 12px;
}


/* ######################################################### info ###################################################### */

.quote_info__about {
    margin: 20px 0 0 -5px;
    padding: 0;
}

.quote_info__about-info {
    height: 22px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 250px;
}

.quote_info__about-info div {
    width: 22px;
    height: 22px;
    position: relative;
    margin: 0;
    padding: 0;
}

.quote_info__about-info img {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.quote_info__about-info p {
    display: block;
    position: absolute;
    top: 6px;
    left: 27px;
    width: 200px;
    margin: 0;
    line-height: 8px;
}

.quote_line {
    position: absolute;
    width: 100%;
    height: 6px;
    background-color: #ea676b;
    bottom: 0;
}


/* #################################### footer ########################################## */

footer {
    height: 76.10px;
    position: relative;
    background-color: #2d303a;
    padding: 0;
    margin: 0;
}

footer .container {
    margin: 0;
    padding: 0;
}

#copyright {
    margin-left: 42px;
    margin-top: 30px;
    width: 200px;
    float: left;
}

.social_media {
    width: 162px;
    margin-right: 30px;
    margin-top: 22px;
    float: right;
}

.social_icons {
    /* margin-top: 24px; */
    padding-left: 1px;
}

.icon {
    float: left;
    height: 32px;
    width: 35px;
    margin-right: 5px;
}

.icon img:hover {
    background-color: burlywood;
    border-radius: 20px;
}

.icon img {
    margin-right: 5px;
}